<div *ngIf="display">Structural directive example</div>

<div *ngIf="num > 0">{{num}} is greater than 0</div>
<div *ngIf="num == 0">{{num}} is equal to 0</div>
<div *ngIf="num < 0">{{num}} is less than 0</div>

<br>
<hr>
<br>
<button (click)="show()">Show</button>
<p *ngIf="showVariable">button is clicked</p>

<hr>
<br>

<button (click)="showList()">show List</button>
<div *ngIf="displayList">
    <ul>
      <li *ngFor="let item of listItems" style="margin-bottom: 15px;">
        {{item.name}} is {{item.age}} years old</li>
      
    </ul>
</div>


<div class="table-container">
  <h1>List of Employees</h1>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Role</th>
        <th>Age</th>
      </tr>
    </thead>
    <tbody>
      @for (emp of employees(); track emp.id) {
        <tr>
          <td>{{emp.id}}</td>
          <td>{{emp.name}}</td>
          <td>{{emp.role}}</td>
          <td>{{emp.age}}</td>
        </tr>
      }@empty {
        <h2>No data found!</h2>
      }
    </tbody>
  </table>
</div>


<hr>
<br>
<div class="container">
  <label>Enter your age : </label>
  <input type="text" (input)="checkEligibility()" [(ngModel)]="age">
  <div [ngSwitch]="isEligible">
    <p *ngSwitchCase="true">You are eligible</p>
    <p *ngSwitchDefault>You are not eligible</p>
  </div>
</div>